# Base game assets & copyrighted Sierra archives
/LB2/RESOURCE.*
/LB2/*.000
/LB2/*.CFG
/LB2/*.AUD
/LB2/*.DRV
/LB2/*.V56
!/LB2/61.V56
/LB2/VERSION
/LB2/README
/LB2_vanilla/

# SCI Companion compiled object caches (tracked as baseline)
# *.sco

# Scratch & temporary logs
/dumps/*.txt
!/dumps/.gitkeep
*.bak

# Temporary test binaries
tools/*.exe
tools/*.dll

# SCI Companion IDE binary & runtime caches
SCICompanion/*.exe
SCICompanion/Customization/
SCICompanion/Decompiler/
SCICompanion/Help/
SCICompanion/Objects/
SCICompanion/Plugins/
SCICompanion/Samples/
SCICompanion/TemplateGame/
SCICompanion/TestFiles/
SCICompanion/include/
 
# PDF outline
/Dagger of Amon Ra Modernization.pdf
